<h1>Product</h1>

<div class="productBlock">
  <table>
    <tr>
      <th>Code</th>
      <th colspan="2">Description</th>
    </tr>
    <tr>
      <td><%= @product.code %></td>
      <td colspan="2"><%= @product.description %></td>
    </tr>
    <tr>
      <td colspan="3"><%= image_tag(@product.image_url) %></td>
    </tr>
    <tr>
      <th>Vender A Cost</th>
      <th>Vender B Cost</th>
      <th>Vender C Cost</th>
    </tr>
    <tr>
      <td><%= @product.cost_vender_a %></td>
      <td><%= @product.cost_vender_b %></td>
      <td><%= @product.cost_vender_c %></td>
    </tr>
    <tr>
      <th colspan="3">CHS Price</th>
    </tr>
    <tr>
      <td clospan="3"><%= @product.price %></td>
    </tr>
  </table>
</div>
      
<%= link_to 'Back', products_path %>
